// Your variable overrides
$body-bg: #000;
$body-color: #111;

// variables
$editable-field-background:rgba(77%,77%,77%,1); //4 //#C4C4C4;
$non-editable-field-background: rgba(169,158,158,0.47);
$font-color: rgba(7%,23%,14%,1);
// #123A24;

// #A99E9E;
// rgba(196, 196, 196, 0.63);
$warning-background:rgba(77%,75%,3%,.37);
$error-background: rgba(69%,22%,22%,.6);

$logo-background:rgba(55%,55%,55%,1);
$nav-background:rgba(66%,62%,62%,1); //5

$save-button:rgba(7%,23%,14%,1);


$go-background:rgba(7%,23%,14%,.47); //2b
$runReports-background:rgba(7%,23%,14%,.47); //2b

$button-background:rgba(66%,62%,62%,1); //3
$project-info-background:rgba(66%,62%,62%,1); //3
$project-info-body:rgba(77%,77%,77%,1); //1



$project-info-pane:rgba(77%,77%,77%,.63); //7

$table-header:rgba(66%,62%,62%,1); //5
$table-non-editable:rgba(72%,70%,70%,1); //6
$table-boundary-background:#A99E9E;
$table-info-background:rgba(169, 158, 158, 0.47);

$report-category-color: rgba(72%,70%,70%,1); //6
$report-list-color: rgba(72%,70%,70%,1); //6
$report-list-selected-color: rgba(66%,62%,62%,1); //5
$report-description-background:rgba(77%,77%,77%,1);
