
<app-nav-bar></app-nav-bar>
  
<!--This is to avoid reload during acquireTokenSilent() because of hidden iframe -->
<router-outlet *ngIf="!isIframe"></router-outlet>

<div *ngIf="!loggedIn" style="margin-top: 50px; margin-left:30%;">
  <h2>
    Please <div class="btn btn-primary" *ngIf="!loggedIn" (click)="login()">login</div> to access the application.
  </h2>
 
</div>




<div *ngIf="nonPermissionedUser()" class="row">
  <div class="col-md-4 offset-md-4">
  <span class="noAccessMessage">
    {{"You are logged in, but have not been granted access to this application." | displayText}}
    {{"Please contact your administrator." | displayText}}
  </span>
</div>
</div>

<div *ngIf="loggedIn" class="row" style="margin-top:40px;">
  <div class="col-md-4 offset-md-4">
     <button class="btn btn-primary" *ngIf="nonPermissionedUser()" (click)="logout()">Logout</button>
  </div>
</div>

<footer class="footer mt-auto py-3">
  <div class="container">
  </div>
</footer>


